{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <div class="heading bar">
        <nav class="navbar navbar-light" style="background-color: #214469;">
            <div class="container-fluid">
                <a class="navbar-brand mx-auto" href="#"><img src="img/logo-picto-cream.svg" alt="logo_o-clock"></a>
              </div>            
          </nav>
    </div>

{% endblock %}
